html { width:100%; min-width:100%; height:100%; min-height:100%; }

body {
	width:100%;
	min-width:100%;
	height:100%;
	min-height:100%;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: #59626A;
}

*, *::before, *::after { box-sizing: border-box; }

.cf:before,
.cf:after {
	content: " ";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom: 1;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.inner {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

.wrapper_header {
	width: 100%;
	height: 250px;
	max-height: 400px;
	max-width: 100%;
	overflow: hidden;
	z-index: 1;
	border-bottom: 1px solid #F4F7F9;
	background: #323B43 url("../img/header.jpg") repeat scroll 0% 0% / 103px 23px;
	text-align: center;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.header-title {
	position: relative;
	max-width: 700px;
	margin: auto;
}

.header .container::after {
	content: " ";
	display: block;
	height: 0px;
	clear: both;
	visibility: hidden;
}

.header-title__title {
	margin-top: 60px;
	color: #FFF;
	line-height: 1.4;
	font-size: 36px;
	font-weight: 700;
	font-family: "Lato","Open Sans",Helvetica,sans-serif;
}

.header-title__subtitle {
	margin-top: 5px;
	color: #FFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	opacity: 0.9;
}

.wrapper_content {
	background: #FBFCFD;
}

.wrapper_content .inner {
	position: relative;
	top: -35px;
	max-width: 1084px;
	margin: 0px auto;
	overflow: hidden;
	padding: 5px 20px 20px;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 3px;	
	box-shadow: 0px 0px 3px rgba(50, 59, 67, 0.1);
}

.loading-div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 999;
	background: #FFF none repeat scroll 0% 0%;
	border-radius: 3px;
}

.loading-div .ss-loading {
	position: absolute;
	top: 45%;
	left: 45%;
	width: 69px;
	height: 69px;
	margin: auto;
	transform: translate(-45%, -45%);
	animation: 2s linear 0s normal none infinite running spin;
	font-size: 50px;
	line-height: 80px;
	text-align: center;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.block_left {
	width: 512px;
	float: left;
	margin: 20px auto 0px;
	background: #FFF none repeat scroll 0% 0%;
}

.block_right {
	float: left;
	margin-top: 14px;
	overflow: hidden;
	border-radius: 3px 3px 0px 0px;
}

.b-textarea {
	position: relative;
}

.b-textarea__textarea {
	margin-top: -6px;
	border: 1px solid #EFF3F6;
	border-radius: 3px 3px 0px 0px;
	padding: 10px 10px 25px;
	background: #F4F7F9 none repeat scroll 0% 0%;
}

.b-textarea__input {
	display: block;
	width: 100%;
	max-width: 100%;
	height: 90px;
	min-height: 90px;
	padding: 8px 10px;
	resize: none;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #CED7DF;
	border-radius: 3px;
	font-size: 14px;
	color: #323B43;
}

.b-textarea__refresh {
	position: absolute;
	right: 17px;
	top: 80px;
	opacity: 0.2;
	color: #323B43;
	font-size: 14px;
}

.b-textarea__refresh:hover {
	cursor: pointer;
	opacity: 1;
}

.b-textarea__sub-text-check {
	display: inline-block;
	position: relative;
	top: -17px;
	width: 200px;
	height: 20px;
	margin-right: 5px;
	margin-left: 51px;
	z-index: 10;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #EFF3F6;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03);
	text-align: center;
	font-weight: 400;
	font-size: 11px;
	color: #59626A;
	top: -25px;
}

.b-textarea__sub-text-check input {
	display: inline;
	visibility: hidden;
	opacity: 0;
	margin-left: -10px;
}

.b-textarea__add-logo {
	display: inline-block;
	position: relative;
	top: -19px;
	width: 200px;
	height: 20px;
	margin-left: 5px;
	z-index: 10; 
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #EFF3F6;
	border-radius: 3px;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.03);
	text-align: center;
	color: #59626A;
	font-weight: 400;
	font-size: 11px;
	overflow: hidden;
	cursor: pointer;
}

.b-textarea__add-logo:hover, .b-textarea__sub-text-check:hover {
	cursor: pointer;
	color:#323b43
}

.is-added:hover {
	cursor: pointer;
	background: #EE4F4F;
	color: #fff;
}

.b-textarea__add-logo input {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.01;
	cursor: pointer;
}

.b-textarea__add-logo input {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.01;
	cursor: pointer;
}

.b-textarea__second-text {
	display: none;
}

.b-textarea__logo {
	display: none;
	position: relative;
	padding: 10px;
}

.b-textarea__logo .b-textarea__logo__headline, .b-textarea__logo__line {
	margin: 10px 0 0 10px;
}

.b-textarea__logo-wrap {
	position: relative;
	display: inline-block;
	top: -25px;
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	float: right;
	padding: 5px;
	border: 1px solid #EFF3F6;
	background: #F4F7F9 none repeat scroll 0% 0%;
	border-radius: 3px;
}

.icon-remove {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #323B43;
	color: #FFF;
	font-size: 8px;
}

.icon-remove:hover {
	cursor: pointer;
	background: #EE4F4F;
}

.icon-remove::before {    
	position: relative;
	top: 5px;
	right: -6px;
}

.b-textarea__logo-wrap img {
	display: inline;
	width: 100%;
	height: 100%;
	border-radius: 3px;
}

.b-select {
	padding: 10px;
}

.b-select__headline {
	margin: 0px 0px 10px;
	line-height: 1;
	font-size: 12px;
	font-weight: 600;
	color: #323B43;
}

.b-select__select-group {
	float: left;
	width: 350px;
}

.b-select__select {
	border: 1px solid #CED7DF;
	padding: 8px 10px;
	border-radius: 3px;
	width: 100%;
	display: inline-block;
	text-overflow: ellipsis;
	white-space: nowrap;
	/*overflow: hidden;*/
	max-width: 170px;
	cursor: pointer;
	outline: none;
	box-shadow:none;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-indent: 0.01px;
	text-overflow: '';
	position: relative;
	font-size: 14px;
	width: 140px;
	display: inline-block;
	z-index: 100;
	vertical-align: top;
	height: 39px;
}

.b-select__select i.ss-icon.ss-navigatedown {
    position: absolute;
    top: 15px;
    right: 10px;
    font-size: 8px;
}

.b-select__select:hover .b-select__sub{
	opacity: 1;
	visibility: visible;
}

.b-select__sub{
	background: none repeat scroll 0 0 #fff;
	transition: opacity 0.3s;
	border: 1px solid #CED7DF;
	left: -1px;
	position: absolute;
	top: calc(100% - 1px);
	width: calc(100% + 2px);
	z-index: 800;
	border-radius: 0 0 3px 3px;
	max-height: 220px;
	overflow-y: auto;
	overflow-x: hidden;
	visibility: hidden;
	opacity: 0;
}

.b-select__sub .b-select__item {
	transition: background-color 0.1s;
	padding: 5px 10px;
	font-size: 14px;
}

.b-select__sub .b-select__item:hover{
	background: #f4f7f9;
	cursor: pointer;
}

#dropdown {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 2px 30px 2px 2px;
	border: none;
	background: transparent url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") no-repeat right center;
}


.b-select__font-size {
	max-width: 90px;
}

.b-select__font-color {
	/*padding: 6px 10px 6px 5px;*/
	position: relative;
	max-width: 65px;
}
.b-select__item.current.is-color{
	border-radius: 3px;
	display: inline-block;
	height: 20px;
	left: 0;
	position: relative;
	top: 1px;
	width: 20px;
	border: 1px solid #eff3f6;
}

.b-select__font-color-item {
	border-radius: 2px;
	box-shadow: 0 0 1px #eee;
	height: 20px;
	left: 4px;
	top: 3px;
	width: 100%;
}

.b-select__font-color-item__white {
	background: #fff;
}

.b-select__font-color-item__black {
	background: #323B43;
}

.b-select__font-color-item__blue {
	background: #168EEA;
}

.b-select__font-color-item__red {
	background: #EE4F4F;
}

.b-select__advanced-dropdown {
	display: inline-block;
	position: relative;
	width: 140px;
	float: right;
	z-index: 100;
	font-size: 14px;
	text-align: right;
}

.b-adv-dropdown__text {
	padding: 8px 10px;
	border-radius: 3px;
	width: 100%;
	display: inline-block;
	overflow: hidden;
	border: medium none;
	max-width: 110px;
	vertical-align: middle;
	cursor: pointer;
}

.b-adv-dropdown {
	float: right;  
	width: 115px;
}

.b-adv-dropdown:hover .b-adv-dropdown-popup {
	visibility: visible;
	opacity: 1;
}

.b-adv-dropdown__icon {
	display: inline-block;
	position: relative;
}

.b-adv-dropdown__icon::before {
	font-size: 8px;
}

.b-adv-dropdown-popup {
	position: absolute;
	visibility: hidden;
	top: 38px;
	right: 0;
	z-index: -1;
	background: none repeat scroll 0% 0% #FFF;
	border-radius: 3px;
	border: 1px solid #CED7DF;
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
	transition: opacity 0.2s;
}

.b-adv-dropdown-popup::before,
.b-adv-dropdown-popup::after {
	position: absolute;
	content: " ";
	bottom: 100%;
	left: 85%;
	height: 0px;
	width: 0px;
	border: medium solid transparent;
}

.b-adv-dropdown-popup::before {
	margin-left: -8px;
	border-color: rgba(63, 63, 63, 0) rgba(63, 63, 63, 0) #BFCAD5;
	border-width: 8px;
}

.b-adv-dropdown-popup::after {
	margin-left: -7px;
	border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #FFF;
	border-width: 7px;
}

.b-adv-dropdown-popup__line {
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: 400;
	text-align: left;
	padding: 10px;
}

.b-adv-dropdown-popup__line  input {
	margin-right: 8px;
}

.b-adv-dropdown-popup__line_header {
	border-bottom: 1px solid #EFF3F6;
}

.b-adv-dropdown-popup__styles label {
	display: block;
	margin-bottom: 3px;
}

.b-background-options {
	padding-top: 15px;
}

.b-background-options__title {
	margin: 0px 0px 10px;
	line-height: 1;
	font-size: 12px;
	font-weight: 600;
	color: #323B43;
}

.b-radio-inputs__label {
	display: inline-block;
	margin-left: 10px;
	font-weight: 400;
	font-size: 12px;
}

.b-radio-inputs__label-first {
	margin-left: 0;
}

.b-radio {
	float: left;
}

.b-checkbox-single {
	float: right;
}

.b-images {
	margin-top: 10px;
	margin-right: -10px;
	margin-left: -10px;
	border-radius: 3px;
}

.b-images__list {
	overflow-x: auto;
	white-space: nowrap;
	margin: 0px;
	padding: 0px 10px 10px;
	width: 100%;
	border-radius: 3px;
}

.b-images__item {
	display: inline-block;
	width: 128px;
	position: relative;
	height: 64px;
	border-radius: 3px;
}

.b-images__item img {
	width: 100%;
	height: 100%;
	border-radius: 3px;
	cursor: pointer;
}

.b-images__item.ss-check {
	cursor: default;
}

.b-images__item.ss-check::before {
	color: #FFF;
	font-size: 20px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
}

.b-images__item.ss-check::after {
	content: "";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	z-index: 9;
	border-radius: 3px;
	background: none repeat scroll 0% 0% rgba(50, 59, 67, 0.4);
	box-shadow: 0px 0px 0px 2px #168EEA inset, 0px 0px 0px 3px rgba(255, 255, 255, 0.5) inset;
}

.b-images__item_upload {
	background: #F4F7F9 none repeat scroll 0% 0%;
	border: 1px solid #EFF3F6;
	top: 0px;
	border-radius: 3px;
	z-index: 10;
	position: relative;
	left: -1px;
	overflow: hidden;
}

.b-images__item_upload input {
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0.01;
	cursor: pointer;
	width: 100%;
	height: 100%;
}

.b-images__item_upload__text {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	line-height: 65px;
	font-size: 12px;
	font-weight: 600;
	color: #59626A;
}

.block_right {
	border-radius: 3px 3px 0px 0px;
	overflow: hidden;
	float: right;
	margin-top: 14px;
}

.b-actions {
	padding: 12px;
}

.link-download {
	float: right;
	outline: 0px none;
	text-decoration: none;
	background: #FFF none repeat scroll 0% 0%;
	font-size: 14px;
	font-weight: 400;
	font-family: "Open Sans",Helvetica,Arial,sans-serif;
	color: #363C40;
	text-decoration: none;
	line-height: 21px;
	text-shadow: none;
	margin: 0;
	padding: 8px 20px;
	display: inline-block;
	cursor: pointer;
	box-sizing: border-box;
	box-shadow: none;
	border: 1px solid #CED7DF;
	border-radius: 3px;
	position: relative;
	top: 0px;
}

.link-download:hover {
	color:#323b43;
	text-shadow:none;
	border:1px solid #afbecb;
	-webkit-box-shadow:none;
	box-shadow:none
}
